# Copy to config/.env and fill values
SUBSCRIPTION_ID=00000000-0000-0000-0000-000000000000
LOCATION=eastus
RG_NAME=AzureMonitorWorkshop
VNET_NAME=amw-vnet
VNET_CIDR=10.0.0.0/16
SUBNET_NAME=workload-subnet
SUBNET_CIDR=10.0.1.0/24
LAW_NAME=HealthLogsWorkspace
APPINSIGHTS_NAME=HealthAppInsights
AKS_NAME=HealthAKSCluster
AZ_SQL_SERVER=amw-sqlsrv
AZ_SQL_DB=amwdb
STORAGE_NAME=amwstor${RANDOM_SUFFIX}
VM_NAME=EHRVM1
SAP_MONITOR_RG=SAPMonitorRG
SENTINEL_WS=HealthSecWorkspace
LOGICAPP_RG=AutoRemedRG
ONPREM_SUBNET=10.10.0.0/24
VPN_GW_NAME=amw-vpngw
VPN_LOCAL_GW_NAME=onprem-localgw
ACTION_GROUP=OpsOnCallGroup
CONTACT_EMAIL=you@example.com
