
profiles {
  azure {
    process.executor = 'azurebatch'
    azure {
      accountName = '<batch-account-name>'
      accountKey  = '<batch-account-key>'
      batchUri    = 'https://<region>.batch.azure.com'
      storageAccount = '<storage-account-name>'
      storageKey     = '<storage-account-key>'
      storageShare   = '<container-or-fileshare>'
      poolVmSize = 'Standard_D8_v3'
      autoPoolMode = true
      poolAutoScale = true
      poolNodes = 0
    }
    workDir = 'az://<storage-account-name>/<container>/work'
  }
  local { process.executor = 'local' }
}
docker.enabled = true
