SUBSCRIPTION_ID=00000000-0000-0000-0000-000000000000
RG_NAME=asr-hc-workshop
LOC_PRIMARY=eastus
LOC_SECONDARY=centralus
VAULT_NAME=asrhc-vault
VNET_NAME=asrhc-vnet
VNET_CIDR=10.40.0.0/16
SUBNET_APP_NAME=app-subnet
SUBNET_APP_CIDR=10.40.1.0/24
SUBNET_GATEWAY_NAME=GatewaySubnet
SUBNET_GATEWAY_CIDR=10.40.255.0/27
LA_NAME=asrhc-la
WORKSPACE_NAME=asrhc-workspace
IDENTITY_NAME=asrhc-mi
VM_NAME=hcweb01
VM_SIZE=Standard_B2s
ADMIN_USERNAME=azureuser
SSH_PUBLIC_KEY_PATH=$HOME/.ssh/id_rsa.pub
CACHE_STORAGE_NAME=asrhc3724cache
A2A_POLICY_NAME=a2a-default
A2A_PE_NAME=
TARGET_VNET_NAME=asrhc-vnet-dr
TARGET_SUBNET_APP_NAME=app-subnet-dr
TARGET_VNET_CIDR=10.50.0.0/16
TARGET_SUBNET_APP_CIDR=10.50.1.0/24
VPN_LNG_NAME=onprem-lng
VPN_GW_NAME=asrhc-vpngw
ONPREM_PUBLIC_IP=203.0.113.10
ONPREM_ADDRESS_SPACE=192.168.10.0/24
SHARED_KEY=ChangeMe123!
