
export SUBSCRIPTION_ID="YOUR-SUBSCRIPTION-ID"
export LOCATION="eastus"
export RG="stor-net-workshop"
export SA_NAME="st$RANDOM$RANDOM"  # must be unique & lowercase
export VNET_NAME="storws-vnet"
export VNET_CIDR="10.30.0.0/16"
export SUBNET_NAME="default"
export SUBNET_CIDR="10.30.1.0/24"
export PE_SUBNET_NAME="priv-endpoints"
export PE_SUBNET_CIDR="10.30.2.0/24"
export DNS_RG="${RG}"
export KV_NAME="kv-$RANDOM-storws"
export FILE_SHARE="fileshare1"
export CONTAINER="images"
export QUEUE_NAME="jobs"
export TABLE_NAME="metrics"
export DATALAKE_FS="lakefs"
export TAG_ENV="training"
export ADMIN_USER="azureuser"
export VM_NAME="storws-vm1"
export VM_SIZE="Standard_B2s"
export PUBLIC_IP="true"
