SUBSCRIPTION_ID=00000000-0000-0000-0000-000000000000
LOCATION=eastus
RESOURCE_GROUP=hc-acs-workshop
ACR_NAME=hcacr$RANDOM
AKS_NAME=hcaks
AKS_NODE_RG=hc-aks-nodes
AKS_VERSION=1.30.3
VNET_NAME=hc-vnet
VNET_CIDR=10.40.0.0/16
SUBNET_AKS_NAME=aks-subnet
SUBNET_AKS_CIDR=10.40.1.0/24
SUBNET_INGRESS_NAME=ingress-subnet
SUBNET_INGRESS_CIDR=10.40.2.0/24
LOG_WS_NAME=hc-law
KEYVAULT_NAME=kv-hc-acs
STORAGE_ACCOUNT=hcacsst$(echo $RANDOM)
AZUREDEVOPS_ORG=https://dev.azure.com/yourorg
AZUREDEVOPS_PROJECT=HealthcareACS
ARC_RG=hc-arc-rg
ONPREM_PUBLIC_IP=203.0.113.10
ONPREM_VPN_PSK=ReplaceMe!
