# Copy to config/.env and fill out values
AZ_SUBSCRIPTION_ID="00000000-0000-0000-0000-000000000000"
AZ_LOCATION="eastus"
RG_NAME="rg-azmigrate-healthcare"
VNET_NAME="vnet-migrate-hc"
VNET_CIDR="10.10.0.0/16"
SUBNET_NAME="subnet-workload"
SUBNET_CIDR="10.10.1.0/24"
GATEWAY_SUBNET_CIDR="10.10.255.0/27"
VPN_GATEWAY_NAME="vpngw-hc"
PUBLIC_IP_NAME="pip-vpngw-hc"
LOCAL_NETWORK_GATEWAY_NAME="lng-onprem-hc"
ONPREM_ADDRESS_PREFIXES="192.168.10.0/24"
ONPREM_PUBLIC_IP="REPLACE_WITH_ONPREM_VYOS_PUBLIC_IP"
SHARED_KEY="ReplaceWithStrongSharedKey123!"
TAG_ENV="workshop"
APP_PREFIX="hc"
AKS_NAME="aks-hc"
ACR_NAME="acrhc$RANDOM"
LOG_ANALYTICS_NAME="la-hc"
STORAGE_ACCOUNT_NAME="st${RANDOM}hc"
APP_SERVICE_PLAN="asp-hc"
APP_SERVICE_NAME="app-hc-web"
POSTGRES_FLEX_SERVER="pgflex-hc"
POSTGRES_DB="healthdb"
POSTGRES_ADMIN_USER="pgadmin"
POSTGRES_ADMIN_PASS="P@ssword12345!"
HEALTHDATA_WS_NAME="hds-hc"
PURVIEW_ACCOUNT="purview-hc"
