SUBSCRIPTION_ID=00000000-0000-0000-0000-000000000000
LOCATION=eastus
RG_NAME=rg-hc-storage-ws
VNET_NAME=vnet-hc-storage-ws
VNET_CIDR=10.60.0.0/16
SUBNET_APP=10.60.1.0/24
SUBNET_PRIVEND=10.60.2.0/24
PRIVATE_DNS_RG=${RG_NAME}
LA_WORKSPACE=la-hc-storage-ws
KEYVAULT_NAME=kv-hc-storage-ws
STORAGE_PREFIX=hcstor
UAMI_NAME=uami-hc-storage
FHIR_WS=ahds-ws-hc
FHIR_SVC=fhir-svc-hc
DICOM_SVC=dicom-svc-hc

# Demo app env (training only)
BLOB_ACCOUNT=""
BLOB_CONTAINER="phi"
WEB_SAS=""
PHP_UPLOAD_MAX_MB=10
