# ========= Azure Subscription & Global =========
AZ_SUBSCRIPTION_ID=00000000-0000-0000-0000-000000000000
AZ_TENANT_ID=00000000-0000-0000-0000-000000000000
AZ_LOCATION=eastus
AZ_RG=arc-healthcare-rg

# ========== Networking (Azure) ==========
AZ_VNET_NAME=arc-hc-vnet
AZ_VNET_CIDR=10.60.0.0/16
AZ_SUBNET_NAME=workload-subnet
AZ_SUBNET_CIDR=10.60.1.0/24
AZ_GW_SUBNET_CIDR=10.60.255.0/27
AZ_VPN_GW_NAME=arc-hc-vpngw
AZ_LOCAL_GW_NAME=onprem-localgw
AZ_VPN_SHARED_KEY=ChangeThisSharedKey123!

# ========== On-Prem Simulation (Hyper-V/VyOS) ==========
ONPREM_PUBLIC_IP=203.0.113.10          # VyOS WAN public IP
ONPREM_ADDRESS_SPACE=192.168.50.0/24    # on-prem LAN

# ========== Arc Onboarding ==========
ARC_RG_SERVERS=${AZ_RG}
ARC_RG_K8S=${AZ_RG}
ARC_SP_CLIENT_ID=00000000-0000-0000-0000-000000000000
ARC_SP_CLIENT_SECRET=REPLACE_ME
ARC_SP_TENANT_ID=${AZ_TENANT_ID}

# ========== Log Analytics / Monitoring ==========
LA_WS_NAME=arc-hc-law
LA_WS_RG=${AZ_RG}

# ========== App / DB ==========
DB_USER=arc_user
DB_PASS=ArcDemoPass!
DB_NAME=healthcare
DB_HOST=192.168.50.11
WEB_BASE_URL=http://192.168.50.12

# ========== K8s / GitOps (later modules) ==========
ARC_K8S_NAME=OnPrem-ClinicCluster
GITOPS_REPO=https://github.com/yourorg/yourrepo.git
GITOPS_BRANCH=main
